<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style/global.css" />

    <title>Game Masters</title>
  </head>

  <body>
    <nav class="navigation_menu">
      <a href="/">Home</a>
      <a href="/create">Adicionar Jogo +</a>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>

</html>