form {
    background-color: var(--bg);
    padding: 1rem;
    border-radius: 8px;

    display: grid;
    gap: 1.5rem;
}

form label {
    display: block;
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 8px;
    font-weight: 500;
}

form input {
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--primary);

    color: var(--black);
    font-size: .75rem;

}

form button[type=submit] {
    padding: .75rem 1.125rem;
    background-color: var(--primary);
    color: var(--black);
    font-size: 1rem;

    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}