<link rel="stylesheet" href="/style/form.css" />

<form action="/games" method="POST">
  <div class="form-control">
    <label>Titulo:</label>
    <input type="text" name="title" required />
  </div>
  <div class="form-control">
    <label>Genêro</label>
    <input type="text" name="genre" required />
  </div>
  <div class="form-control">
    <label>Ano:</label>
    <input type="number" name="year" required />
  </div>
  <button type="submit">Adicionar jogo</button>
</form>